<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xthml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao">
<head>
<title>Cadastro de título</title>
</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST"
		action="/rest/titulo/salvar" th:object="${titulo}">

		<div th:include="mensagemErro" />

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h4 class="panel-title panel-float-left">Novo título</h4>
					<a class="btn btn-link link-float-right" href="/rest/titulo/">Voltar
						para pesquisa</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-sm-6 text-left">
						<button type="submit" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-ok"></span> Salvar
						</button>
					</div>
				</div>

				<input type="hidden" th:field="*{codigo}" />

				<div class="form-group"
					th:classappend="${#fields.hasErrors('descricao')} ? 'has-error'">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao"
							th:field="*{descricao}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataVencimento')} ? 'has-error'">
					<label for="dataVencimento" class="col-sm-2 control-label">Data
						de vencimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataVencimento"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true" data-date-orientation="bottom"
							data-date-today-highlight="true" th:field="*{dataVencimento}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('valor')} ? 'has-error'">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="valor"
							th:field="*{valor}" />
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-4">
						<select class="form-control" th:field="*{status}">
							<option th:each="status : ${listaStatusTitulo}"
								th:value="${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
			</div>
		</div>

	</form>
</section>

</html>