<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xthml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao">
<head>
<title>Títulos</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h4 class="panel-title panel-float-left">Pesquisa de títulos</h4>
				<a class="btn btn-link link-float-right" href="/rest/titulo/novo">Ir
					para novo</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive" style="margin-top: 10px;">
				<table class="table-responsive table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-center col-md-5">Descrição</th>
							<th class="text-center col-md-2">Data de vencimento</th>
							<th class="text-center  col-md-2">Valor</th>
							<th class="text-center col-md-1">Status</th>
							<th class="text-center col-md-1">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td th:text="${titulo.codigo}" class="text-center"></td>
							<td th:text="${titulo.descricao}"></td>
							<td th:text="${{titulo.dataVencimento}}" class="text-center"></td>
							<td th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center"><span class="label"
								th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}">
							</span></td>
							<td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/rest/titulo/editar/{codigo}(codigo=${titulo.codigo})}">
									<span class="glyphicon glyphicon-pencil"></span>
							</a> <a class="btn btn-link btn-xs"
								th:href="@{/rest/titulo/remover/{codigo}(codigo=${titulo.codigo})}">
									<span class="glyphicon glyphicon-remove"></span>
							</a></td>
						</tr>
						<tr th:if="${#lists.isEmpty(titulos)}">
							<td colspan="6" class="text-center">Nenhum registro
								encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div laytou:include="dialogConfirmacao"></div>
		
	</div>
</section>

</html>


