@CHARSET "UTF-8";
.panel-default, .panel-primary, .panel-info {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.alert {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.link-float-right {
	float: right;
	padding: 10px;
}

.panel-float-left {
	float: left;
	padding-top: 2px;
}