<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xthml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-datepicker.standalone.min.css" />
<link rel="stylesheet" type="text/css" href="/custom/css/style.css" />

</head>

<body>

	<header layout:include="cabecalho">
	</header>
	
	<div th:include="mensagem" />
	
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>

	<script src="/lib/js/jquery-2.2.0.min.js"></script>
	<script src="/lib/js/bootstrap.min.js"></script>
	<script src="/lib/js/bootstrap-datepicker.min.js"></script>
	<script src="/lib/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/custom/js/cobranca.js"></script>

</body>
</html>